@import "tailwindcss";

body {
  background-size: 4vw 4vw;
  background-image: radial-gradient(
    circle,
    var(--color-green-700) 2px,
    transparent 2px
  );
  @media (width <= 40rem) {
    background-size: 10vw 10vw;
  }
  @media (width <= 46rem) {
    background-size: 8vw 8vw;
  }
}
#wrapper::after {
  content: attr(data-value) " ";
  white-space: pre;
  visibility: hidden;
}
#code-input,
#wrapper::after {
  padding: 1px;
  padding-left: 8ch;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
}

@font-face {
  font-family: Uiua386;
  src: url("/Uiua386.ttf") format("truetype");
}
@font-face {
  font-family: "TinyAPL386 Unicode";
  src: url("/TinyAPL386.ttf") format("truetype");
}
@font-face {
  font-family: APL333;
  src: url("/APL333.ttf") format("truetype");
}
@theme {
  --font-sans: APL333, sans-serif;
  --font-mono: "TinyAPL386 Unicode", Uiua386, monospace;
  --color-emerald-1000: oklch(22% 0.051 172.552);
}
